
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[MemoryCaptures]/

/[AssetStoreTools]/
/ProjectSettings/ProjectVersion.txt.bak
/Packages/manifest.json.bak
/Packages/packages-lock.json

.vs/
.gradle/
/ExportedObj/
.consulo/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

.DS_Store
Thumbs.db
desktop.ini

*.psd
*.pbm
*.mp4